@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.app {
  display: flex;
  height: 100vh;
  background-color: #f0f0f0;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.summary, .todo, .whiteboard {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.main-content {
  flex: 1;
  padding: 30px;
  overflow: auto;
}

.section {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 18px;
  color: gray;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
input, select, button {
  padding: 8px;
  font-size: 16px;
}
button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}